<section>
    <mat-form-field>
        <mat-label>
            <mat-icon color="accent">search</mat-icon>
            <span>Ingresa un término de búsqueda</span>
        </mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ejemplo: Captura" #input>
    </mat-form-field>

    <div class="table__options">
        <button mat-fab extended color="primary" aria-label="Reload info" (click)="reloadData()" #tooltip="matTooltip"
            matTooltip="Recargar la información de la base de datos" matTooltipPosition="above"
            matTooltipShowDelay="500">
            <mat-icon>cloud_sync</mat-icon>
            Refrescar información
        </button>

        <mat-paginator [pageSizeOptions]="[5, 8, 10, 15, 20, 25, 50, 100]" showFirstLastButtons
            aria-label="Seleccionar página de registros" #tooltip="matTooltip"
            matTooltip="Cambia la cantidad de registros a mostrar en la tabla" matTooltipPosition="above"
            matTooltipShowDelay="500">
        </mat-paginator>
    </div>

    <div class="mat-elevation-z5 table__report">
        <table mat-table multiTemplateDataRows [dataSource]="dataSource" matSort
            (matSortChange)="announceSortChange($event)" cdkDropList cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="drop($event)">

            <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef"
                [sticky]="column.columnDef === stickyColumn">
                <ng-container *ngIf="column.columnDef === 'userName'; else restColumns">
                    <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by User Name" #tooltip="matTooltip"
                        [matTooltip]="column.tooltip ?? 'Ordena Ascendente o Descendente'" matTooltipPosition="above"
                        matTooltipShowDelay="500">
                        {{ column.header }}
                    </th>
                    <td mat-cell *matCellDef="let row" class="user-link"
                        [style]=" row.deletedAt && 'background-color: #ffc3ca'">
                        {{ column.cell(row) }}
                    </td>
                </ng-container>

                <ng-template #restColumns>
                    <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header
                        [sortActionDescription]="'Sort by ' + column.header" #tooltip="matTooltip"
                        [matTooltip]="column.tooltip ?? 'Ordena Ascendente o Descendente'" matTooltipPosition="above"
                        matTooltipShowDelay="500">
                        {{ column.header }}
                    </th>
                    <!-- <td mat-cell *matCellDef="let row" (click)="handleRedirectDetail(row.id)"> -->
                    <td mat-cell *matCellDef="let row" [style]=" row.deletedAt && 'background-color: #ffc3ca'"
                        (click)="(expandedRow = expandedRow === row ? null : row); $event.stopPropagation()">
                        {{ column.cell(row) | transformCellValue }}
                    </td>
                </ng-template>
            </ng-container>

            <ng-container matColumnDef="expand">
                <th mat-header-cell *matHeaderCellDef aria-label="row actions" #tooltip="matTooltip"
                    matTooltip="Click para ver acciones sobre el registro" matTooltipPosition="above"
                    matTooltipShowDelay="500">Acciones</th>
                <td mat-cell *matCellDef="let row" [style]=" row.deletedAt && 'background-color: #ffc3ca'">
                    <!-- <button mat-icon-button aria-label="expand row" (click)="(expandedRow = expandedRow === row ? null : row); $event.stopPropagation()"> -->
                    <button mat-icon-button aria-label="expand row">
                        <mat-icon>{{ expandedRow === row ? "keyboard_arrow_up" : "keyboard_arrow_down" }}</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="expandedDetail">
                <td mat-cell *matCellDef="let row" [attr.colspan]="columnsToDisplayWithExpand.length">
                    <div class="element-detail" [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                        <button mat-fab extended color="primary"
                            (click)="handleRedirectDetail(row.id || row.accessId || row.accountNumber || row.initials)">
                            <mat-icon>edit</mat-icon>
                            Ver/Editar información
                        </button>

                        <button *ngIf="deactivateFunction !== undefined && !row.deletedAt" mat-fab extended color="warn"
                            (click)="deleteItem(row.id || row.accessId || row.accountNumber || row.initials); reloadData()">
                            <mat-icon>delete</mat-icon>
                            Desactivar item
                        </button>

                        <button *ngIf="reactivateFunction !== undefined && row.deletedAt" mat-fab extended
                            (click)="reactivateItem(row.id || row.accessId || row.accountNumber || row.initials ); reloadData()">
                            <mat-icon>check</mat-icon>
                            Reactivar item
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplayWithExpand;" class="element-row"
                [class.example-expanded-row]="expandedRow === row"
                (click)="expandedRow = expandedRow === row ? null : row"></tr>
            <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="element-detail-row"></tr>
        </table>
    </div>
</section>