<h2>Información detallada del título "{{ id }}"</h2>

<ng-container *ngIf="isLoading || !data; else userEntitlementInfo">
    <div class="loading__section">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
</ng-container>

<ng-template #userEntitlementInfo>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <section>
            <h4>Datos básicos</h4>
            <div class="form-group">
                <div class="form-control">
                    <div class="label">
                        <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                        <label for="accessId">Access Id</label>
                    </div>
                    <input matInput formControlName="accessId" id="accessId" [disabled]="true">
                </div>

                <div class="form-control">
                    <div class="label">
                        <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                        <label for="productId">Product Id</label>
                    </div>
                    <input matInput formControlName="productId" id="productId">
                </div>

                <div class="form-control">
                    <div class="label">
                        <mat-icon class="opacity_icon" fontIcon="mail"></mat-icon>
                        <label for="functionId">Function Id</label>
                    </div>
                    <input matInput formControlName="functionId" id="functionId">
                </div>

                <div class="form-control">
                    <div class="label">
                        <mat-icon class="opacity_icon" fontIcon="assignment_ind"></mat-icon>
                        <label for="functionType">Function Type</label>
                    </div>
                    <input matInput formControlName="functionType" id="functionType">
                </div>

                <div class="form-control">
                    <div class="label">
                        <mat-icon class="opacity_icon" fontIcon="assignment_ind"></mat-icon>
                        <label for="accountNumber">Account number</label>
                    </div>
                    <input matInput formControlName="accountNumber" id="accountNumber">
                </div>
            </div>
        </section>

        <app-control-dates-form [createdAt]="data!.createdAt" [updatedAt]="data!.updatedAt"
            [deletedAt]="data?.deletedAt" />

        <ng-container *ngIf="isAdminUser">
            <button mat-raised-button color="primary" [disabled]="!isDataChanged">
                Actualizar título
            </button>
        </ng-container>
    </form>
</ng-template>
<!-- </app-dialog-section> -->