<h2>Información detallada del cliente "{{ id }}"</h2>

<ng-container *ngIf="isLoading || !data; else productAccountInfo">
    <div class="loading__section">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
</ng-container>

<ng-template #productAccountInfo>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form__data">
            <section>
                <h4>Datos básicos</h4>
                <div class="form-group">
                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                            <label for="product">Producto</label>
                        </div>

                        <mat-select formControlName="product" placeholder="Seleccionar Producto" #singleSelect>
                            <mat-option>
                                <ngx-mat-select-search formControlName="productSearch"
                                    placeholderLabel="Buscar producto"
                                    (ngModelChange)="filterProducts($event)"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let product of searchProducts" [value]="product">
                                {{ product.id 
                                            ? product.productName + (product.subProduct ? (' - ' + product.subProduct) : '') 
                                            : 'Sin producto asociado' }}
                            </mat-option>
                        </mat-select>
                        <span error-msg [message]="controlError(form, 'product')"
                            [invalid]="isInvalidField(form, 'product')"></span>
                    </div>

                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                            <label for="account">Número de cuenta</label>
                        </div>

                        <mat-select formControlName="account" placeholder="Seleccionar Cuenta" #singleSelect
                            panelWidth="100">
                            <mat-option>
                                <ngx-mat-select-search formControlName="accountSearch"
                                    placeholderLabel="Buscar producto"
                                    (ngModelChange)="filterAccounts($event)"></ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let account of searchAccounts" [value]="account">
                                {{ account.accountNumber ? account.accountNumber + ' - ' + account.accountName : 'Sin cuenta asociada' }}
                            </mat-option>
                        </mat-select>
                        <span error-msg [message]="controlError(form, 'account')"
                            [invalid]="isInvalidField(form, 'account')"></span>
                    </div>
                </div>
            </section>

            <app-control-dates-form [createdAt]="data!.createdAt" [updatedAt]="data!.updatedAt"
                [deletedAt]="data?.deletedAt" />
        </div>

        <ng-container *ngIf="isAdminUser">
            <section class="form__actions">
                <button mat-raised-button color="primary" [disabled]="!isDataChanged">
                    Actualizar Cuenta
                </button>
                <button type="button" (click)="onRestartForm()" mat-raised-button color="accent"
                    [disabled]="!isDataChanged">
                    Restaurar Formulario
                </button>
            </section>
        </ng-container>
    </form>
</ng-template>
<!-- </app-dialog-section> -->