<h2>Información detallada del producto "{{ data?.subProduct ?? data?.productName ?? id }}"</h2>

<ng-container *ngIf="isLoading || !data; else productInfo">
    <div class="loading__section">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
</ng-container>

<ng-template #productInfo>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form__data">
            <section>
                <h4>Datos básicos</h4>
                <div class="form-group">
                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                            <label for="productName">Nombre del producto</label>
                        </div>
                        <input matInput formControlName="productName" id="productName" [disabled]="true"
                            [ngClass]="{'input-error': getControl(form, 'productName')!.touched && getControl(form, 'productName')!.invalid}">
                        <span error-msg [message]="controlError(form, 'productName')"
                            [invalid]="isInvalidField(form, 'productName')"></span>
                    </div>

                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                            <label for="subProduct">Sub Producto</label>
                        </div>
                        <input matInput formControlName="subProduct" id="subProduct">
                        <span error-msg [message]="controlError(form, 'subProduct')"
                            [invalid]="isInvalidField(form, 'subProduct')"></span>
                    </div>
                </div>
            </section>

            <app-control-dates-form [createdAt]="data!.createdAt" [updatedAt]="data!.updatedAt"
                [deletedAt]="data?.deletedAt" />
        </div>

        <ng-container *ngIf="isAdminUser">
            <section class="form__actions">
                <button mat-raised-button color="primary" [disabled]="!isDataChanged">
                    Actualizar Producto
                </button>
                <button type="button" (click)="onRestartForm()" mat-raised-button color="accent"
                    [disabled]="!isDataChanged">
                    Restaurar Formulario
                </button>
            </section>
        </ng-container>
    </form>
</ng-template>
<!-- </app-dialog-section> -->