<mat-drawer-container hasBackdrop="false">
    <!-- <mat-drawer #drawer mode="over"> -->
    <mat-drawer #drawer [mode]="drawerMode" opened style="min-width: 400px;">
        <app-sidenav [drawer]="drawer"></app-sidenav>
    </mat-drawer>

    <mat-drawer-content [ngStyle]="{'width': (drawer.opened && drawerMode === 'push') ? '77.5%' : '100%'}">
        <app-header [drawer]="drawer"></app-header>

        <!-- <div class="protected" (click)="drawer.close()"> -->
        <div class="protected">
            <app-loading [width]="drawer.opened ? 78 : 100"></app-loading>

            <main>
                <!-- TODO: Analizar si es útil esta forma de navegación -->
                <app-navigation></app-navigation>

                <app-support-image *ngIf="notFoundError" [imgSrc]="imgSrc" [sourceSrcset]="sourceSrcset"
                    alt="Curiosity People"></app-support-image>

                <app-internal-server-error *ngIf="internalServerError"></app-internal-server-error>

                <router-outlet *customIf="!internalServerError && !forbiddenError && !notFoundError"></router-outlet>
            </main>
        </div>

        <app-footer></app-footer>
    </mat-drawer-content>
</mat-drawer-container>