<section>
    <h1>Elemento no encontrado</h1>

    <picture>
        <source (srcset)="sourceSrcset">
        <img [src]="imgSrc" [alt]="alt">
        <a href="https://storyset.com/web" target="_blank">Web illustrations by Storyset</a>
    </picture>

    <p>{{ message }}</p>

    <div class="actions">
        <button mat-fab extended color="accent" aria-label="Back History" (click)="goBack()">
            <mat-icon>chevron_left</mat-icon>Regresar
        </button>

        <button mat-fab extended color="accent" aria-label="Back History" (click)="reload()">
            <mat-icon>refresh</mat-icon>Recargar página
        </button>

        <button mat-fab extended color="accent" aria-label="Forward History" (click)="goHome()">
            <mat-icon>home</mat-icon>Ir al inicio
        </button>
    </div>
</section>