<h2>Comparación de Perfiles por Funciones</h2>

<p>A continuación se realiza la comparación entre perfiles, y la lista de funciones asociadas a cada uno.</p>

<section class="section__form">
    <button mat-raised-button color="accent" (click)="toggleShowForm()">
        {{ showForm ? 'Ocultar formulario' : 'Abrir formulario'}}
    </button>

    <ng-container *ngIf="showForm">
        <app-function-form [functionId]="id" />
    </ng-container>
</section>

<ng-container *ngIf="isLoading || !data; else info">
    <div class="loading__section">
        <mat-spinner *ngIf="isLoading"></mat-spinner>

        <app-support-image *ngIf="!data && !isLoading" [imgSrc]="imgSrc" [sourceSrcset]="sourceSrcset"
            alt="Curiosity People"></app-support-image>
    </div>
</ng-container>

<ng-template #info>
    <table>
        <thead>
            <tr>
                <th>Función - Perfil</th>
                <th *ngFor="let profile of profiles">{{ profile.profileName }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let function of functions" (click)="onClick(function)">
                <th>{{ function.functionName }}</th>
                <td *ngFor="let profile of profiles">{{ getProfileFunction(profile.id, function.id) }}</td>
            </tr>
        </tbody>
    </table>
</ng-template>