<h2>Listado de Usuarios por Perfil</h2>

<p>A continuación se listan los usuarios catalogados por perfil.</p>

<section>
    <ng-container *ngIf="isLoadingResults || isEmptyResults; else tableComponent">
        <app-table-loading [isLoadingResults]="isLoadingResults" [isEmptyTable]="isEmptyResults"></app-table-loading>
    </ng-container>

    <ng-template #tableComponent>
        <div class="action-buttons">
            <button mat-flat-button color="primary" (click)="accordion.openAll()" #tooltip="matTooltip"
                matTooltip="Expandir todos las secciones" matTooltipPosition="below" matTooltipShowDelay="500">Expandir
                todos</button>
            <button mat-flat-button color="accent" (click)="accordion.closeAll()" #tooltip="matTooltip"
                matTooltip="Colapsar todos las secciones" matTooltipPosition="below" matTooltipShowDelay="500">Colapsar
                todos</button>
        </div>

        <mat-accordion multi>
            <mat-expansion-panel *ngFor="let profile of profilesData">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <strong>{{ profile.profileName }}</strong>
                    </mat-panel-title>
                    <mat-panel-description>
                        Última actualización: {{profile.updatedAt | date}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <app-users-by-profile-table [profileId]="profile.id" />
            </mat-expansion-panel>
        </mat-accordion>
    </ng-template>
</section>