<h2>Información detallada de la cuenta "{{ id }}"</h2>

<ng-container *ngIf="isLoading || !data; else accountInfo">
    <div class="loading__section">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
</ng-container>

<ng-template #accountInfo>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <section>
            <h4>Datos básicos</h4>
            <div class="form-group">
                <div class="form-control">
                    <div class="label">
                        <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                        <label for="accountNumber">Número de cuenta</label>
                    </div>
                    <input matInput formControlName="accountNumber" id="accountNumber">
                </div>

                <div class="form-control">
                    <div class="label">
                        <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                        <label for="accountName">Nombre de cuenta</label>
                    </div>
                    <input matInput formControlName="accountName" id="accountName">
                </div>

                <div class="form-control">
                    <div class="label">
                        <mat-icon class="opacity_icon" fontIcon="mail"></mat-icon>
                        <label for="accountType">Tipo de cuenta</label>
                    </div>
                    <input matInput formControlName="accountType" id="accountType">
                </div>

                <div class="form-control">
                    <div class="label">
                        <mat-icon class="opacity_icon" fontIcon="assignment_ind"></mat-icon>
                        <label for="bankCurrency">Bank Currency</label>
                    </div>
                    <input matInput formControlName="bankCurrency" id="bankCurrency">
                </div>
            </div>
        </section>

        <app-control-dates-form [createdAt]="data!.createdAt" [updatedAt]="data!.updatedAt"
            [deletedAt]="data?.deletedAt" />

        <ng-container *ngIf="isAdminUser">
            <button mat-raised-button color="primary" [disabled]="!isDataChanged">
                Actualizar Cuenta
            </button>
        </ng-container>
    </form>

    <pre>{{data | json}}</pre>
</ng-template>

<!-- </app-dialog-section> -->