<h2>Información detallada de la cuenta "{{ id }}"</h2>

<ng-container *ngIf="isLoading || !data; else accountInfo">
    <div class="loading__section">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
</ng-container>

<ng-template #accountInfo>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form__data">
            <section>
                <h4>Datos básicos</h4>
                <div class="form-group">
                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                            <label for="accountNumber">Número de cuenta</label>
                        </div>
                        <input matInput formControlName="accountNumber" id="accountNumber">
                        <span error-msg [message]="controlError(form, 'accountNumber')"
                            [invalid]="isInvalidField(form, 'accountNumber')"></span>
                    </div>

                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                            <label for="accountName">Nombre de cuenta</label>
                        </div>
                        <input matInput formControlName="accountName" id="accountName">
                        <span error-msg [message]="controlError(form, 'accountName')"
                            [invalid]="isInvalidField(form, 'accountName')"></span>
                    </div>

                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="mail"></mat-icon>
                            <label for="accountType">Tipo de cuenta</label>
                        </div>
                        <input matInput formControlName="accountType" id="accountType">
                        <span error-msg [message]="controlError(form, 'accountType')"
                            [invalid]="isInvalidField(form, 'accountType')"></span>
                    </div>

                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="assignment_ind"></mat-icon>
                            <label for="bankCurrency">Moneda bancaria (Bank Currency)</label>
                        </div>
                        <input matInput formControlName="bankCurrency" id="bankCurrency">
                        <span error-msg [message]="controlError(form, 'bankCurrency')"
                            [invalid]="isInvalidField(form, 'bankCurrency')"></span>
                    </div>
                </div>
            </section>

            <app-control-dates-form [createdAt]="data!.createdAt" [updatedAt]="data!.updatedAt"
                [deletedAt]="data?.deletedAt" />
        </div>

        <ng-container *ngIf="isAdminUser">
            <section class="form__actions">
                <button mat-raised-button color="primary" [disabled]="!isDataChanged">
                    Actualizar Cuenta
                </button>
                <button type="button" (click)="onRestartForm()" mat-raised-button color="accent"
                    [disabled]="!isDataChanged">
                    Restaurar Formulario
                </button>
            </section>
        </ng-container>
    </form>


</ng-template>

<!-- </app-dialog-section> -->