form {
    width: 100%;
    margin: 0;
}

.user-info {
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--overlay-background);
    background-color: white;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    padding: 1rem;

    tr {
        td:nth-child(2) {
            border-right: 1px solid var(--overlay-background);
        }
    }

    td {
        padding: 1rem;
        min-height: 65px;

        &.label {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

}

input {

    &:active,
    &:focus {
        background-color: var(--second-background);
    }
}

@media (max-width: 1200px) {
    .user-info {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .user-info {
        .form-control {
            margin: .25rem;
        }
    }
}