.main-footer,
.alternative-footer {
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
}


.main-footer {
    min-height: 200px;

    footer {
        max-width: var(--max-width);
        width: 100%;
        display: grid;
        grid-template-columns: 100px repeat(3, minmax(30px, 1fr));
        gap: 1rem;
        padding: 2rem 0;

        picture {
            display: flex;
            justify-content: center;

            img {
                height: 75px;
            }
        }

        div {
            display: flex;
            flex-direction: column;
            border-right: 1px solid var(--overlay-background);

            a {
                color: var(--overlay-background);

                &:hover {
                    color: var(--primary-light);
                }
            }
        }

        .links {
            a {
                text-transform: uppercase;
                line-height: 2rem;
            }

            .social-network {
                display: flex;
                gap: 1rem;
                margin-top: 1rem;

                .social {
                    width: 30px;
                    height: 30px;
                    border: 1px solid var(--overlay-background);
                    border-radius: 50%;
                    color: var(--overlay-background);

                    &:hover {
                        border: 1px solid var(--primary-light);
                        color: var(--primary-light);
                    }
                }
            }
        }

        .accessibility a,
        .contact a {
            line-height: 1.25rem;

            &:nth-child(1) {
                line-height: 2.5rem;
            }
        }
    }
}

.alternative-footer {
    min-height: 75px;
    place-items: center;
    padding: 1rem;

    footer {
        display: flex;
        flex-direction: row;
        // gap: 5rem;
        height: 100%;
        width: 100%;
        justify-content: center;
        gap: 10%;
        align-items: center;

        picture {
            display: flex;
            justify-content: center;

            img {
                height: 50px;
            }
        }


        .departments {
            display: flex;
            flex-direction: column;
            place-items: center;
            height: 100%;
            gap: .5rem;

            span {
                color: var(--overlay-background);
            }
        }
    }
}


@media (max-width: 1200px) {
    .main-footer footer {
        max-width: var(--phone-width);
        grid-template-columns: 1fr;

        picture {
            display: none;
        }

        div {
            padding-bottom: 1rem;
            border: none;
            border-bottom: 1px solid var(--overlay-background);
        }
    }
}