<footer>
    <div class="footer">
        <picture>
            <img [src]="logoSrc" alt="Logo del Banco de la República">
        </picture>

        <div class="links">
            <a href="">Acerca del portal</a>
            <a href="">Banco de la República</a>
            <a href="">Accesibilidad</a>
            <a href="">Transparencia</a>

            <section class="social-network">
                <span class="social"></span>
                <span class="social"></span>
                <span class="social"></span>
                <span class="social"></span>
                <span class="social"></span>
                <span class="social"></span>
            </section>
        </div>

        <div class="accessibility">
            <a href="">Información de interés y ayuda</a>
            <a href="">Versión en inglés</a>
            <a href="">Preguntas frecuentes</a>
            <a href="">Mapa del sitio</a>
        </div>

        <div class="contact">
            <a href="">Contacto y avisos legales</a>
            <a href="">Horarios de atención</a>
            <a href="">Atención al ciudadano</a>
            <a href="">Formulario electrónico de solicitudes</a>
        </div>
    </div>
</footer>