<table>
    <thead>
        <tr>
            <th>Módulo</th>
            <th>Adiciones</th>
            <th>Modificaciones</th>
            <th>Eliminaciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let section of sections">
            <td (click)="redirectSection(section.sectionName)" #tooltip="matTooltip"
                matTooltip="Click para más detalles" matTooltipPosition="below">{{section.name}}</td>
            <td #tooltip="matTooltip"
                [matTooltip]="
                    getAmount(section.reportName, 'countNewEntities') == '--' 
                        ? 'No se han encontrado nuevos registros' 
                        : 'Se han encontrado ' + getAmount(section.reportName, 'countNewEntities') + ' nuevos registros'"
                matTooltipPosition="below" matTooltipShowDelay="500">
                {{getAmount(section.reportName, 'countNewEntities')}}
            </td>
            <td #tooltip="matTooltip"
                [matTooltip]="
                    getAmount(section.reportName, 'countEntitiesWithDifferences') == '--' 
                        ? 'No se han encontrado registros con diferencias' 
                        : 'Se han encontrado ' + getAmount(section.reportName, 'countEntitiesWithDifferences') + ' registros con diferencias'"
                matTooltipPosition="below" matTooltipShowDelay="500">
                {{getAmount(section.reportName, 'countEntitiesWithDifferences')}}
            </td>
            <td #tooltip="matTooltip"
                [matTooltip]="
                getAmount(section.reportName, 'countToDeleteEntities') == '--' 
                        ? 'No se han encontrado registros a eliminar' 
                        : 'Se han encontrado ' + getAmount(section.reportName, 'countToDeleteEntities') + ' registros a eliminar'"
                matTooltipPosition="below" matTooltipShowDelay="500">
                {{getAmount(section.reportName, 'countToDeleteEntities')}}
            </td>
        </tr>
    </tbody>
</table>