<table>
    <thead>
        <tr>
            <th>Módulo</th>
            <th>Adiciones</th>
            <th>Modificaciones</th>
            <th>Eliminaciones</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td (click)="redirectSection('accounts')">Cuentas</td>
            <td>{{getAmount('accountsReport', 'countNewEntities')}}</td>
            <td>{{getAmount('accountsReport', 'countEntitiesWithDifferences')}}</td>
            <td>{{getAmount('accountsReport', 'countToDeleteEntities')}}</td>
        </tr>
        <tr>
            <td (click)="redirectSection('company_users')">Company Users</td>
            <td>{{getAmount('companyUsersReport', 'countNewEntities')}}</td>
            <td>{{getAmount('companyUsersReport', 'countEntitiesWithDifferences')}}</td>
            <td>{{getAmount('companyUsersReport', 'countToDeleteEntities')}}</td>
        </tr>
        <tr>
            <td (click)="redirectSection('functions')">Funciones</td>
            <td>{{getAmount('functionsReport', 'countNewEntities')}}</td>
            <td>{{getAmount('functionsReport', 'countEntitiesWithDifferences')}}</td>
            <td>{{getAmount('functionsReport', 'countToDeleteEntities')}}</td>
        </tr>
        <tr>
            <td (click)="redirectSection('profiles')">Perfiles</td>
            <td>{{getAmount('profilesReport', 'countNewEntities')}}</td>
            <td>{{getAmount('profilesReport', 'countEntitiesWithDifferences')}}</td>
            <td>{{getAmount('profilesReport', 'countToDeleteEntities')}}</td>
        </tr>
        <tr>
            <td (click)="redirectSection('profiles_functions')">Perfiles - Funciones</td>
            <td>{{getAmount('profilesFunctionsReport', 'countNewEntities')}}</td>
            <td>{{getAmount('profilesFunctionsReport', 'countEntitiesWithDifferences')}}</td>
            <td>{{getAmount('profilesFunctionsReport', 'countToDeleteEntities')}}</td>
        </tr>
        <tr>
            <td (click)="redirectSection('products')">Productos</td>
            <td>{{getAmount('productsReport', 'countNewEntities')}}</td>
            <td>{{getAmount('productsReport', 'countEntitiesWithDifferences')}}</td>
            <td>{{getAmount('productsReport', 'countToDeleteEntities')}}</td>
        </tr>
        <tr>
            <td (click)="redirectSection('products_accounts')">Productos - Cuentas</td>
            <td>{{getAmount('productsAccountsReport', 'countNewEntities')}}</td>
            <td>{{getAmount('productsAccountsReport', 'countEntitiesWithDifferences')}}</td>
            <td>{{getAmount('productsAccountsReport', 'countToDeleteEntities')}}</td>
        </tr>
        <tr>
            <td (click)="redirectSection('users_entitlements')">Títulos de usuarios</td>
            <td>{{getAmount('usersEntitlementsReport', 'countNewEntities')}}</td>
            <td>{{getAmount('usersEntitlementsReport', 'countEntitiesWithDifferences')}}</td>
            <td>{{getAmount('usersEntitlementsReport', 'countToDeleteEntities')}}</td>
        </tr>
    </tbody>
</table>