<h2>Asignación de Usuarios por Departamento</h2>

<p>Asignación de usuarios por departamento</p>

<ng-container *ngIf="isLoading || !departments || !companyUsers; else dataTable">
    <div class="loading__section">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
</ng-container>

<ng-template #dataTable>
    <table>
        <thead>
            <tr>
                <th>Usuario de la Compañía</th>
                <th>Departamento</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let companyUser of companyUsers">
                <th>{{ companyUser.accessId }}</th>
                <td>
                    <mat-select [value]="companyUser.departmentInitials"
                        (selectionChange)="updateDepartment(companyUser.accessId, $event.value)">
                        <mat-option [value]="null">Sin Asignar</mat-option>
                        <mat-option *ngFor="let department of departments"
                            [value]="department.initials">{{ department.initials + ' - ' + department.departmentName }}</mat-option>
                    </mat-select>
                </td>
            </tr>
        </tbody>
    </table>


    <div class="actions">
        <button type="submit" mat-flat-button color="primary" (click)="onSubmit()"
            [disabled]="updatedUserDepartmentList.length === 0" #tooltip="matTooltip"
            matTooltip="Asignar los nuevos departamentos a los usuarios" matTooltipPosition="left"
            matTooltipShowDelay="500">
            Aprobar Cambios
        </button>
    </div>
</ng-template>