<section class="page__error">
    <app-support-image [imgSrc]="imgSrc" [sourceSrcset]="sourceSrcset" alt="Not Found Status"
        message="La información solicitada no se ha encontrado"></app-support-image>

    <div class="content_box_error">
        <h1 class="mb-1">Opps!!!</h1>

        <h3>Página no encontrada</h3>

        <div class="suggest__message">
            <strong>
                La página que solicitó no fue encontrada, y tenemos algunas ideas de por qué:
            </strong>

            <ul>
                <li>Si tu escribiste directamente la URL, por favor asegúrate que la escritura sea correcta</li>
                <li>Si tu hiciste click a un link que te trajo aquí, posiblemente este link esté desactualizado</li>
            </ul>

            <strong>
                ¿Que puedes hacer?
            </strong>

            <p>
                No se preocupe, la ayuda está cerca. Aquí te brindamos 2 posibles soluciones:
            </p>
        </div>
    </div>

    <div class="buttons">
        <button mat-raised-button color="primary" (click)="goBack()">Regresar a la página anterior</button>
        <button mat-raised-button color="accent" (click)="goToHome()">Ir al inicio</button>
    </div>
</section>