$primary: #003E6C;
$primary-light: #8BB9DC;

$text-color: #333333;
$text-color-secondary: #aaaaaa;

$secondary: #911B28;

$main-background: #F8F7F7;
$second-background: #e9e9e9;
$overlay-background: #a4a5a792;
$light-shadow: 0 5px 15px rgba(0, 0, 0, .1);
$dark-shadow: 0 2px 1px rgba(0, 0, 0, 0.507);

$transition: all 300ms linear;
$radius: .25rem;
$max-width: 1200px;
$medium-width: 768px;
$phone-width: 460px;
$min-height: 550px;
$fixed-width: 620px;

$font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
$font-size: .875rem;
$spacing: 0.05rem;