<section>
    <ng-container *ngIf="isLoadingResults || isEmptyTable; else tableComponent">
        <app-table-loading [isLoadingResults]="isLoadingResults" [isEmptyTable]="isEmptyTable"></app-table-loading>
    </ng-container>

    <ng-template #tableComponent>
        <app-table-base [displayedColumns]="displayedColumns" [data]="data" [columns]="columns"
            baseUrl="company-users"></app-table-base>
    </ng-template>

    <!-- <button type="submit" (click)="redirectToCircularizationEmail()" class="email-button" mat-raised-button
        color="accent">
        Generar Correo de Circularización
    </button> -->
</section>