<h2>Información detallada del perfil "{{ id }}"</h2>

<ng-container *ngIf="isLoading || !data; else profileInfo">
    <div class="loading__section">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
</ng-container>

<ng-template #profileInfo>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form__data">
            <section>
                <h4>Datos del perfil</h4>
                <div class="form-group">
                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                            <label for="id">Profile Id:</label>
                        </div>
                        <input matInput formControlName="id" id="id"
                            [ngClass]="{'input-error': getControl(form, 'id')!.touched && getControl(form, 'id')!.invalid}">
                        <span error-msg [message]="controlError(form, 'id')"
                            [invalid]="isInvalidField(form, 'id')"></span>
                    </div>

                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="person"></mat-icon>
                            <label for="profileName">Profile Name:</label>
                        </div>
                        <input matInput formControlName="profileName" id="profileName"
                            [ngClass]="{'input-error': getControl(form, 'profileName')!.touched && getControl(form, 'profileName')!.invalid}">
                        <span error-msg [message]="controlError(form, 'profileName')"
                            [invalid]="isInvalidField(form, 'profileName')"></span>
                    </div>
                </div>
            </section>

            <section>
                <h4>Funciones relacionadas al perfil</h4>

                <div class="form-group extended">
                    <div class="form-control">
                        <div class="label">
                            <mat-icon class="opacity_icon" fontIcon="functions"></mat-icon>
                            <label for="functions">Funciones:</label>
                        </div>

                        <div class="functions">
                            <div class="list__functions">
                                <span>Funciones asociadas</span>
                                <ul>
                                    <li *ngIf="associatedFunctions.length === 0">
                                        Sin funciones asociadas al perfil
                                    </li>
                                    <li *ngFor="let func of associatedFunctions">
                                        <mat-checkbox
                                            (change)="toggleFunctionsRemove(func)">{{ func.functionName }}</mat-checkbox>
                                    </li>
                                </ul>
                            </div>

                            <div class="functions__actions">
                                <button type="button" mat-raised-button color="warn" (click)="removeFunctions()"
                                    [disabled]="!functionsToRemove.length">Remover</button>
                                <button type="button" mat-raised-button color="primary" (click)="addFunctions()"
                                    [disabled]="!functionsToAdd.length">Añadir</button>
                            </div>

                            <div class="list__functions">
                                <span>Funciones disponibles</span>
                                <ul>
                                    <li *ngIf="availableFunctions.length === 0">
                                        Sin funciones disponibles para asociar
                                    </li>
                                    <li *ngFor="let func of availableFunctions">
                                        <mat-checkbox
                                            (change)="toggleFunctionsAdd(func)">{{ func.functionName }}</mat-checkbox>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <app-control-dates-form [createdAt]="data!.createdAt" [updatedAt]="data!.updatedAt" [deletedAt]="null" />
        </div>

        <ng-container *ngIf="isAdminUser">
            <section class="form__actions">
                <button mat-raised-button color="primary" [disabled]="!isDataChanged">
                    Actualizar Perfil
                </button>
                <button type="button" (click)="onRestartForm()" mat-raised-button color="accent"
                    [disabled]="!isDataChanged">
                    Restaurar Formulario
                </button>
            </section>
        </ng-container>
    </form>


</ng-template>