.functions {
    display: grid;
    grid-template-columns: 350px 200px 350px;

    .list__functions {
        display: flex;
        flex-direction: column;

        span {
            margin: 15px 0 10px 0;
        }

        ul {
            border: 1px solid rgb(0, 10, 65);
            border-radius: 3px;
            width: 350px;
            padding: .5rem;
            overflow: scroll;
            height: 400px;
        }
    }

    .functions__actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        button {
            width: 100px;
            margin: 10px 0;
        }
    }
}