<h2>Listado de Productos - Cuentas</h2>

<p>A continuación se listan las Productos - Cuentas que se muestran en el listado del último reporte cargado</p>

<section>
    <ng-container *ngIf="isLoadingResults || isEmptyTable; else tableComponent">
        <app-table-loading [isLoadingResults]="isLoadingResults" [isEmptyTable]="isEmptyTable"></app-table-loading>
    </ng-container>

    <ng-template #tableComponent>
        <app-table-base [displayedColumns]="displayedColumns" [data]="data" [columns]="columns"
            baseUrl="products-accounts" [deactivateFunction]="deactivateItem"
            [reactivateFunction]="reactivateItem"></app-table-base>
    </ng-template>
</section>

<router-outlet></router-outlet>